# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# azure-identity~=1.15.0
azure-functions~=1.17.0
fastapi~=0.106.0
pydantic-settings~=2.1.0
httpx~=0.26.0
azure-monitor-opentelemetry~=1.1.1
opentelemetry-instrumentation-httpx~=0.43b0
opentelemetry-instrumentation-system-metrics~=0.43b0
