# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# azure-identity~=1.15.0
azure-functions~=1.20.0
fastapi~=0.112.1
pydantic-settings~=2.4.0
httpx~=0.27.0
azure-monitor-opentelemetry-exporter==1.0.0b27
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-instrumentation-httpx~=0.47b0
opentelemetry-instrumentation-system-metrics~=0.47b0
