# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# azure-identity~=1.13.0
azure-functions~=1.15.0
fastapi~=0.100.1
pydantic-settings~=2.0.2
aiohttp~=3.8.4
opentelemetry-instrumentation-fastapi==0.39b0
azure-monitor-opentelemetry-exporter==1.0.0b14
